<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/login']"></ion-back-button>
    </ion-buttons>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onResetPassword()" #resetPasswordForm="ngForm">
    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input 
        type="email" 
        [(ngModel)]="email" 
        name="email" 
        required 
        email 
        #emailInput="ngModel">
      </ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="emailInput.invalid && emailInput.touched">
      Por favor, ingrese un correo electrónico válido.
    </ion-note>

    <ion-button expand="block" type="submit" [disabled]="resetPasswordForm.invalid">
      Enviar Enlace
    </ion-button>
  </form>
</ion-content>
