<ion-header>
  <!-- Contenedor de la barra superior -->
  <ion-toolbar>
    <!-- Botones en el lado izquierdo de la barra de herramientas -->
    <ion-buttons slot="start">
      <!-- Botón para regresar a la página de inicio de sesión -->
      <ion-back-button [routerLink]="['/inicio']"></ion-back-button>
    </ion-buttons>
    <!-- Título de la página -->
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Formulario para restablecer la contraseña -->
  <form (ngSubmit)="onResetPassword()" #resetPasswordForm="ngForm">
    <!-- Campo para ingresar el correo electrónico -->
    <ion-item>
      <!-- Icono al inicio del campo de correo electrónico -->
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      
      <!-- Etiqueta flotante para el campo de correo electrónico -->
      <ion-label position="floating">Correo Electrónico</ion-label>
      
      <!-- Campo de entrada para el correo electrónico -->
      <ion-input 
        type="email" 
        [(ngModel)]="email" 
        name="email" 
        required 
        email 
        #emailInput="ngModel">
      </ion-input>
    </ion-item>
    
    <!-- Mensaje de error que se muestra si el campo de correo electrónico es inválido y ha sido tocado -->
    <ion-note color="danger" *ngIf="emailInput.invalid && emailInput.touched">
      Por favor, ingrese un correo electrónico válido.
    </ion-note>

    <!-- Botón para enviar el formulario -->
    <ion-button expand="block" type="submit" [disabled]="resetPasswordForm.invalid">
      Enviar Enlace
    </ion-button>
  </form>
</ion-content>