<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/inicio']"></ion-back-button>
    </ion-buttons>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #resetPasswordForm="ngForm" (ngSubmit)="cambiarPassword()">
    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input 
        type="text" 
        [(ngModel)]="nombre" 
        name="nombre" 
        required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input 
        [type]="hidePassword ? 'password' : 'text'" 
        [(ngModel)]="nuevaPassword" 
        name="nuevaPassword" 
        required>
      <ion-button slot="end" fill="clear" (click)="togglePasswordVisibility()">
        <ion-icon [name]="hidePassword ? 'eye-off' : 'eye'"></ion-icon>
      </ion-button>
      </ion-input>
    </ion-item>

    <!-- Mostrar restricciones de la contraseña -->
    <div *ngIf="nuevaPassword && !validarPassword(nuevaPassword)">
      <ion-note color="warning">
        La contraseña debe contener:
        <ul>
          <li>Al menos 4 números</li>
          <li>Al menos 3 caracteres alfabéticos</li>
          <li>Al menos 1 letra mayúscula</li>
        </ul>
      </ion-note>
    </div>

    <!-- Botón para enviar el formulario -->
    <ion-button expand="full" type="submit">Actualizar Contraseña</ion-button>
  </form>
</ion-content>