<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <ion-title>Listado de Recetas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar class="sub-header">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
  <ion-title>Listado</ion-title>

  <ion-buttons slot="end">
    <ion-button [routerLink]="['/receta-add']" color="primary" class="add-button">
      Agregar Receta
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content class="content">
  <!-- Cuadro que contiene el listado de recetas locales -->
  <ion-card class="card">
    <ion-card-header class="card-header">
      <ion-card-title>Tus Recetas Locales</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-content">
      <ion-list>
        <ion-item *ngFor="let receta of recetas" class="list-item">
          <ion-label>
            <h5>{{ receta.titulo }}</h5>
            <p>{{ receta.descripcion }}</p>
          </ion-label>
          <ion-button [routerLink]="['/receta-edit/', receta.id]" class="edit-button">
            Editar
          </ion-button>
          <ion-button [routerLink]="['/receta-detail', receta.id]" class="detail-button">
            Detalles
          </ion-button>
        </ion-item>
      </ion-list>
      <ion-button expand="block" color="dark" (click)="getRecetasFromSQLite()" class="block-button">
        Mostrar Recetas Locales
      </ion-button>
      <ion-button expand="block" color="secondary" (click)="syncRecetasWithAPI()" class="block-button">
        Sincronizar Recetas con el Servidor
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Cuadro que contiene el listado de recetas desde la API -->
  <ion-card class="card">
    <ion-card-header class="card-header">
      <ion-card-title>Recetas Publicadas</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-content">
      <ion-list>
        <ion-item *ngFor="let receta of recetasAPI" class="list-item">
          <ion-checkbox slot="start" (ionChange)="toggleSelection(receta.id)"></ion-checkbox>
          <ion-label>
            <h5>{{ receta.titulo }}</h5>
            <p>{{ receta.descripcion }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-button expand="block" color="success" (click)="recuperarRecetas()" class="block-button">
        Recuperar Recetas Seleccionadas
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Botón para cargar recetas de la API -->
  <ion-button expand="block" color="tertiary" (click)="getRecetasFromAPI()" class="block-button">
    Cargar Recetas de la API
  </ion-button>
</ion-content>