<!-- Encabezado de la página -->
<ion-header>
  <ion-toolbar>
    <!-- Barra de progreso que se muestra cuando se está cargando -->
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
    
    <!-- Botón para volver a la página de inicio de sesión -->
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/login']"></ion-back-button>
    </ion-buttons>
    
    <!-- Título de la página -->
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Contenido principal del formulario de registro -->
<ion-content class="ion-padding">
  <form [formGroup]="formularioRegistro" (ngSubmit)="guardar()">
    
    <!-- Campo para el nombre de usuario -->
    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>
    <!-- Mensaje de error si el nombre de usuario es requerido -->
    <ion-note *ngIf="formularioRegistro.get('nombre')?.touched && formularioRegistro.get('nombre')?.hasError('required')" color="danger">
      Nombre de usuario es requerido
    </ion-note>

    <!-- Campo para el correo electrónico -->
    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <!-- Mensajes de error para el correo electrónico -->
    <ion-note *ngIf="formularioRegistro.get('email')?.touched && formularioRegistro.get('email')?.hasError('required')" color="danger">
      Correo electrónico es requerido
    </ion-note>
    <ion-note *ngIf="formularioRegistro.get('email')?.touched && formularioRegistro.get('email')?.hasError('email')" color="danger">
      Formato de correo electrónico no válido
    </ion-note>

    <!-- Campo para la contraseña -->
    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [type]="hidePassword ? 'password' : 'text'" formControlName="password">
        <ion-button slot="end" fill="clear" (click)="togglePasswordVisibility()">
          <ion-icon [name]="hidePassword ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
      </ion-input>
    </ion-item>
    <!-- Mensajes de error para la contraseña -->
    <ion-note *ngIf="formularioRegistro.get('password')?.touched && formularioRegistro.get('password')?.hasError('required')" color="danger">
      La contraseña es requerida
    </ion-note>
    <ion-note *ngIf="formularioRegistro.get('password')?.errors?.['passwordInvalidFormat']" color="danger">
      La contraseña debe tener como mínimo: <br>
      - 4 números <br>
      - 3 caracteres <br>
      - 1 mayúscula.
    </ion-note>

    <!-- Campo para confirmar la contraseña -->
    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword">
        <ion-button slot="end" fill="clear" (click)="toggleConfirmPasswordVisibility()">
          <ion-icon [name]="hideConfirmPassword ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
      </ion-input>
    </ion-item>
    <!-- Mensajes de error para confirmar la contraseña -->
    <ion-note *ngIf="formularioRegistro.get('confirmPassword')?.touched && formularioRegistro.get('confirmPassword')?.hasError('required')" color="danger">
      Confirmar la contraseña es requerido
    </ion-note>
    <div *ngIf="formularioRegistro.errors?.['passwordsMismatch']">
      Las contraseñas no coinciden.
    </div>

    <!-- Botón para enviar el formulario -->
    <ion-button expand="block" type="submit" [disabled]="formularioRegistro.invalid">
      Registrarse
    </ion-button>

    <!-- Botón para abrir el modal de términos y condiciones -->
    <ion-button id="open-modal" expand="block">
      Términos y condiciones
    </ion-button>
    
    <!-- Modal de términos y condiciones -->
    <ion-modal #modal 
               trigger="open-modal" 
               [canDismiss]="canDismiss" 
               [presentingElement]="presentingElement" 
               [enterAnimation]="enterAnimation" 
               [leaveAnimation]="leaveAnimation">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <!-- Título del modal -->
            <ion-title>MODAL</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modal.dismiss()">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <!-- Contenido del modal -->
          <p class="ion-padding-horizontal">Debes aceptar los términos y condiciones para cerrar este modal.</p>
          <ion-item>
            <ion-checkbox id="terms" (ionChange)="onTermsChanged($event)" [checked]="canDismiss">
              <div class="ion-text-wrap">¿Aceptas los términos y condiciones?</div>
            </ion-checkbox>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>

    <!-- Botón para redirigir a la página de inicio de sesión si ya tiene cuenta -->
    <ion-button expand="block" color="light" [routerLink]="['/login']">
      ¿Ya tienes una cuenta? Inicia sesión
    </ion-button>
  </form>
</ion-content>