<ion-content class="ion-padding">
  <div class="profile-container">
    <div class="image-circle" (click)="seleccionarImagen()">
      <img *ngIf="imagenUsuario" [src]="imagenUsuario" alt="Imagen de usuario" />
      <ion-icon *ngIf="!imagenUsuario" name="camera-outline" class="icon-placeholder"></ion-icon>
    </div>
    <h2 class="username">¡Bienvenido de nuevo, {{ username }}!</h2>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="card-title">¿Qué deseas hacer?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item [routerLink]="['/receta-add']" class="action-item">
        <ion-label>- Agregar </ion-label>
      </ion-item>
      <ion-item [routerLink]="['/receta-list']" class="action-item">
        <ion-label>- Listar </ion-label>
      </ion-item>
      <ion-item [routerLink]="['/principal']" class="action-item">
        <ion-label>- Todas las Recetas</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>