<ion-header>
  <ion-toolbar>
    <ion-title>
      ReceTario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>¡Bienvenido de nuevo, {{ username }}!</h2>
  <p>Explora nuestras últimas recetas</p>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Recomendaciones para ti</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item [routerLink]="['/buscar-result']">
        <ion-label>- Desayunos</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/buscar-result']">
        <ion-label>- Almuerzos</ion-label>
      </ion-item>
      <ion-item [routerLink]="['/buscar-result']">
        <ion-label>- Once</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" color="primary" (click)="navigateTo('buscar-result')">
          Buscar Recetas
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="secondary" (click)="navigateTo('favorites')">
          Recetas Favoritas
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>