<ion-header>
  <ion-toolbar>
    <!-- Barra de progreso que se muestra cuando se está cargando -->
    <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
    <!-- Botón para volver a la página anterior -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <!-- Título de la página -->
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <!-- Barra de progreso que se muestra cuando se está cargando -->
  <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
  <!-- Botón para volver a la página anterior -->
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
  <!-- Título de la página -->
  <ion-title>Registro</ion-title>
</ion-toolbar>

<ion-content class="ion-padding">
  <form [formGroup]="formularioRegistro" (ngSubmit)="guardar()">
    
    <!-- Campo para el nombre de usuario -->
    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>
    <ion-note *ngIf="formularioRegistro.get('nombre')?.touched && formularioRegistro.get('nombre')?.hasError('required')" color="danger">
      Nombre de usuario es requerido
    </ion-note>

    <!-- Campo para el correo electrónico -->
    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-note *ngIf="formularioRegistro.get('email')?.touched && formularioRegistro.get('email')?.hasError('required')" color="danger">
      Correo electrónico es requerido
    </ion-note>
    <ion-note *ngIf="formularioRegistro.get('email')?.touched && formularioRegistro.get('email')?.hasError('email')" color="danger">
      Formato de correo electrónico no válido
    </ion-note>

    <!-- Campo para la contraseña -->
    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [type]="hidePassword ? 'password' : 'text'" formControlName="password">
        <ion-button slot="end" fill="clear" (click)="togglePasswordVisibility()">
          <ion-icon [name]="hidePassword ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button> 
      </ion-input>
    </ion-item>
    <ion-note *ngIf="formularioRegistro.get('password')?.touched && formularioRegistro.get('password')?.hasError('required')" color="danger">
      La contraseña es requerida
    </ion-note>
    <ion-note *ngIf="formularioRegistro.get('password')?.errors?.['passwordInvalidFormat']" color="danger">
      La contraseña debe tener como mínimo: <br>
      - 4 números <br>
      - 3 caracteres <br>
      - 1 mayúscula.
    </ion-note>

    <!-- Campo para confirmar la contraseña -->
    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword">
        <ion-button slot="end" fill="clear" (click)="toggleConfirmPasswordVisibility()">
          <ion-icon [name]="hideConfirmPassword ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
      </ion-input>
    </ion-item>
    <ion-note *ngIf="formularioRegistro.get('confirmPassword')?.touched && formularioRegistro.get('confirmPassword')?.hasError('required')" color="danger">
      Confirmar la contraseña es requerido
    </ion-note>
    <ion-note *ngIf="formularioRegistro.errors?.['passwordsMismatch']" color="danger">
      Las contraseñas no coinciden.
    </ion-note>

    <!-- Botón para enviar el formulario -->
    <ion-button expand="block" type="submit" [disabled]="formularioRegistro.invalid">
      Registrarse
    </ion-button>

    <!-- Botón para abrir el modal de términos y condiciones -->
    <ion-button id="open-modal" expand="block">
      Términos y condiciones
    </ion-button>
    
    <!-- Modal de términos y condiciones --> 
    <ion-modal #modal 
           trigger="open-modal" 
           [canDismiss]="canDismiss" 
           [presentingElement]="presentingElement" 
           [enterAnimation]="enterAnimation" 
           [leaveAnimation]="leaveAnimation">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title class="modal-title">Términos y Condiciones</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modal.dismiss()">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <div class="modal-content">
            <p class="description">
              Por favor, revisa los términos y condiciones antes de continuar.
            </p>
            <!-- Contenedor con barra desplazadora -->
            <div class="terms-container">
              <p>
                1. Este acuerdo regula el uso de nuestra plataforma. <br />
                2. Nos reservamos el derecho de modificar estos términos en cualquier momento. <br />
                3. Los usuarios deben respetar todas las leyes aplicables y los derechos de otros usuarios. <br />
                4. No se permite el uso de lenguaje ofensivo, acoso o contenido ilegal en nuestra plataforma. <br />
                5. El acceso al servicio está sujeto a nuestras políticas internas. <br />
                6. Aceptas que tu información personal será manejada según nuestra política de privacidad. <br />
                7. Nos reservamos el derecho de suspender tu cuenta si violas estos términos. <br />
                8. Al usar nuestra plataforma, aceptas indemnizarnos por cualquier reclamación derivada de tu uso. <br />
              </p>
            </div>
            <ion-item lines="none" class="checkbox-item">
              <ion-checkbox slot="start" (ionChange)="onTermsChanged($event)" [checked]="canDismiss"></ion-checkbox>
              <ion-label>¿Aceptas los términos y condiciones?</ion-label>
            </ion-item>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>

    <!-- Botón para redirigir a la página de inicio de sesión si ya tiene cuenta -->
    <ion-button expand="block" color="light" [routerLink]="['/inicio']">
      ¿Ya tienes una cuenta? Inicia sesión
    </ion-button>
  </form>
</ion-content>